<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/addproduct">Add Product</a></li>
      <li class="main-header__item"><a href="/editproduct">Edit Product</a></li>
      <li class="main-header__item"><a href="/removeproduct">Remove Product</a></li>
      <li class="main-header__item"><a href="/image">Add/Remove Image</a></li>
      <li class="main-header__item"><a href="/breadcrumbs">Breadcrumbs</a></li>
      <li class="main-header__item"><a href="/signout">Signout</a></li>
    </ul>
  </nav>
  <div class="main-header__logo">
    <%- include('./logo.ejs') %>
  </div>
</header>
